body {
  background-image: url(./assets/burger-friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.header {
  font-size: 12px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0fb9b1;
}

.header-box {
  width: 100vw;
  align-items: center;
  font-size: 22px;
  padding-left: 2%;
 }

.add-recipe-button {
  padding-right: 2%;
  cursor: pointer;
  font-size: 15px;
}

.add-button {
  width: 6vw;
  height: 2.5vh;
  border-radius: 7px;
  border: none;
  font-size: smaller;
  cursor: pointer;
}

.main-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}

h2 {
  font-size: 22px;
  padding-top: 5%;
}

.button-box { 
  background-color: rgba(225, 225, 225, .9);
  width: 22vw;
  height: 29vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.radio-buttons {
  width: 13vw;
  height: 19vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  font-size: smaller;
  margin: 0px;
  cursor: pointer;
}

.cook-button-div {
  height: 8vh;
  width: 10vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.recipe-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  font-size: smaller;
  cursor: pointer;
  margin-top: 3px;
  padding: 5px 26px;
}

.recipe-box {
  background-color: rgba(225, 225, 225, .9);
  width: 22vw;
  height: 29vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.recipes {
  width: 19vw;
  height: 35vh;
  font-size: larger;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.pot-image {
  width: 10vw;
  height: 10vh;
}

.clear-button-box {
  width: 22vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 9%;
  padding-bottom: 6%;
  
}

.clear-button {
  background-color: #95a5a6;
  border-color: #95a5a6;
  border: none;
  font: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 20px;
}

.new-recipe-footer {
  background-color: rgba(225, 225, 225, .9);
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 0;
}

.new-recipe-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh
}

.new-recipe-form {
  padding-left: 15px;
  width: 40vw;
}

.add-new-button {
  background-color: #0fb9b1;
  border-radius: 5px;
  border: none;
  padding: 4px 25px;
}

.hidden{
  display: none;
}

span {
  color: red;
}
