/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background-image: url(./assets/burger-friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font: black;
}

.header {
  background-color: #0fb9b1;
  font-size: 12px;
  height: 10vh;
  }

.main-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}

.button-box { 
  background-color: rgba(225, 225, 225, .9);
  width: 22vw;
  height: 29vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe-box {
  background-color: rgba(225, 225, 225, .9);
  width: 22vw;
  height: 29vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.recipes {
  width: 20vw;
  height: 26vh;
  font-size: small;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe-button {
  background-color: #0fb9b1;
  border-color: #0fb9b1;
  border-radius: 5px;
  font-size: x-small;
  cursor: pointer;
  margin-top: 3px;
}

.pot-image {
  width: 10vw;
  height: 10vh;
}

.header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-box {
  width: 100vw;
  align-items: center;
  font-size: 22px;
  padding-left: 2%;
 }

 h2 {
  font-size: medium;
}

.radio-buttons {
  width: 13vw;
  height: 19vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  font-size: small;
  margin: 0px;
  cursor: pointer;
}

.button-div {
  height: 8vh;
  width: 10vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.add-recipe-button {
  padding-right: 2%;
  cursor: pointer;
}

.add-button {
  width: 6vw;
  height: 2.5vh;
  border-radius: 7px;
  font-size: x-small;
  cursor: pointer;
}
