body {
  background-image: url(./assets/burger-friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.header {
  align-items: center;
  background-color: #0fb9b1;
  display: flex;
  font-size: 12px;
  height: 5vh;
  justify-content: flex-start;
}

.header-box {
  align-items: center;
  font-size: 22px;
  padding-left: 2%;
  width: 100vw;
 }

.add-recipe-button {
  cursor: pointer;
  font-size: 10px;
  padding-right: 2%;
}

.add-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  height: 2.5vh;
  width: 6vw;
}

.main-container {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-evenly;
  margin: 0px;
  width: 100vw;
}

h2 {
  font-size: 22px;
  padding-left: 4px;
  padding-top: 5px;
}

.button-box { 
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  height: 29vh;
  justify-content: center;
  width: 22vw;
}

.radio-buttons {
  align-content: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  height: 19vh;
  justify-content: space-evenly;
  margin: 0px;
  width: 13vw;
}

.cook-button-div {
  align-content: center;
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: center;
  width: 10vw;
}

.recipe-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  margin-top: 4px;
  padding: 3px 18px;
}

.recipe-box {
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  height: 29vh;
  justify-content: center;
  width: 22vw;
} 

.recipes {
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 35vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 19vw;
}

.pot-image {
  height: 10vh;
  width: 10vw;
}

.clear-button-box {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 6%;
  padding-right: 9%;
  width: 22vw;
  
}

.clear-button {
  background-color: #95a5a6;
  border: none;
  border-color: #95a5a6;
  border-radius: 5px;
  cursor: pointer;
  font: white;
  padding: 4px 20px;
}

.new-recipe-footer {
  align-items: flex-end;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  height: 6vh;
  justify-content: flex-start;
  margin-bottom: 0;
  width: 100vw;
}

.new-recipe-footer {
  bottom: 0;
  height: 5vh;
  position: absolute;
  width: 100%;
}

.new-recipe-form {
  padding-left: 15px;
  width: 40vw;
  position: absolute;
}

.add-new-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 25px;
}

.hidden{
  display: none;
}

span {
  color: red;
}
